{{!-- <h4 class="profile-header">{{user.username Profile</h4> --}}
<div class="profile-container">
    <h2>Favorites</h2>
    <section class="profile-information dark-background">
          <article class="container profile-info map">
            <div class="map-search">
            <h3>Map</h3>
            <form>
              <label>
                <input type="text" name="location" placeholder="Enter location" required>
              </label>
            </form>
            <button type="submit" onclick="getCurrentLocation()">Get current location</button>
            </div>
            <div id="map"></div>
          </article>
          <article class="container profile-info">
            <h3>Favorite Shops!</h3>
            <a href="/favorites/create">Create Book</a>
            {{#each favorites}}
              <div>
                <h3>{{name}}</h3>
                <h4>{{address}}</h4>
                <a href="/favorites/{{_id}}">See details</a>
                <!-- we can only have post requests on forms -->
                <form action="/favorites/{{_id}}/delete" method="POST">
                  <button type="submit">Delete</button>
                </form>
              </div>
            {{/each}}
          </article>
          <article class="containter list-info">
            <div class="walk-score">
              <script type='text/javascript'>
                var ws_wsid = 'g2d6d094feb8e43eaa955e0ae4394943c';
                var ws_address = 'Clinton Hill, Brooklyn Ny';
                var ws_format = 'square';
                var ws_width = '400';
                var ws_height = '400';
                </script>
                <style type='text/css'>#ws-walkscore-tile{position:relative;text-align:left}#ws-walkscore-tile *{float:none;}</style>
                <div id='ws-walkscore-tile'>
                </div>
                <script type='text/javascript' src='http://www.walkscore.com/tile/show-walkscore-tile.php'></script>
            </div>
          </article>
</div>

<script>
function getCurrentLocation() {
navigator.geolocation.getCurrentPosition((position) => {
const pos = {
lat: position.coords.latitude,
lng: position.coords.longitude
}
map.setCenter(pos);
map.setZoom(17);
});
}
</script>
