<h4 class="profile-header">{{user.username}} Profile</h4>
<div class="container">
    <section class="profile-information dark-background">
          <article class="container profile-info">
            <h3>Favorite Shops!</h3>
              <div class="yelp-display">
                  {{#each print}}
                      <img src="{{image_url}}">
                      <p>{{name}}</p>
                      <p>{{location.city}}</p>
                      <a class="link-btn" href="#">Test Link</a>
                  {{/each}}
              </div>
          </article>
          <article class="container profile-info">
            <h3>Transit options</h3>
            <p class="text-look">Transit options go here</p>
            <a class="link-btn" href="#">Test Link</a>
          </article>
          <article class="container profile-info">
            <h3>Upcoming events</h3>
            <p class="text-look">Testing events here</p>
            <a class="link-btn" href="#">Test Link</a>
          </article>
    </section>
</div>

<div class="container">
    <section class="yelp-pull">
      <h1>Text Test</h1>
      <div class="yelp-display">
        {{#each print}}
            <img src="{{image_url}}">
            <p>{{name}}</p>
            <p>{{location.city}}</p>
        {{/each}}
    </div>
    </section>
</div>
